table, th, td{
	border: 1px solid black; }
td:first-of-type {
	font-style: italic; }
tbody td:nth-of-type(2) {
	color: red; }
tbody td:nth-of-type(4) {
	color: blue; }
tbody tr:nth-of-type(odd) {
	background-color: lightgreen; }
tbody tr:nth-of-type(even) {
	background-color: lightblue; }
dt:hover+dd {
	background-color: purple; }
form {
	border: 1px solid black; 
	padding: 5px; }
form div {
	border: 1px solid black; 
	padding: 5px; }
.outer-content {
	position: relative;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 20px;
	width: 75%;
	height: 50px;
	background-color: pink;}
.inner-content {
	text-align: center;
	position: absolute;
	left: 12.5%;
	top: 50%;
	width: 75%;
	height: 50%;
	background-color: blue;
	transform: translate(0, -50%) }
img {
	float:left; }
	


